body {
    background: #ffe6ff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-box {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 320px;
    text-align: center;
    border: 2px solid #ff99dd;
    box-shadow: 0 0 15px #ffb3ee;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

#question {
    font-size: 18px;
    margin-bottom: 15px;
}

.answer {
    background: #ffd6f5;
    padding: 12px;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;
}

.answer:hover {
    border-color: #ff66cc;
    transform: scale(1.04);
}

#nextBtn {
    background: #ff66cc;
    border: none;
    padding: 12px;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    display: none;
    width: 100%;
    margin-top: 10px;
}

.hidden {
    display: none;
}

#result {
    font-size: 20px;
    margin-top: 20px;
    color: #e60099;
}

.back-btn {
    display: block;
    margin-top: 20px;
    color: #ff33aa;
    text-decoration: none;
    font-weight: bold;
}