body {
    font-family: Arial, sans-serif;
    background: #ffe6f2;
    color: #333;
    padding: 20px;
}

h1, h2 {
    color: #d1006b;
}

button {
    background: #ff66a3;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: #cc0066;
}

#komplement, #wynik {
    font-size: 20px;
    margin-top: 10px;
    color: #d1006b;
}